# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

* Popular data science languages
* Popular data science development environments
* Popular data science tools

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Java
4. Mathlab

Some of the commonly used libraries used by Data Scientists include:
1. NumPy 
2. Pandas
3. TensorFlow
4. PyTorch

## Data Science

| Open source development environments |
| -------------|
| RStudio |
| Apache Spark |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4) + 5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

a = 200/60
print('200 minutes are ' + str(a) + ' h')

200 minutes are 3.3333333333333335 h

## Author 
Israel Merino